{% extends "base.html" %}

{% block title %}Edit Storage Item{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center">
        <div class="max-w-md w-full bg-white p-8 rounded">
            <h2 class="text-2xl mb-4">Edit Storage Item</h2>
            <form method="post" action="{% url 'edit_storage' storage.0.id %}" class="space-y-4">
                {% csrf_token %}
                <label for="id_name" class="block">
                    <span class="text-gray-700">Name:</span>
                    <input type="text" name="name" value="{{storage.0.name}}" class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
                </label>
                <label for="id_quantity" class="block">
                    <span class="text-gray-700">Quantity:</span>
                    <input type="text" name="quantity" value="{{storage.0.quantity}}" class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
                </label>
                <label for="id_price" class="block">
                    <span class="text-gray-700">Price:</span>
                    <input type="number" name="price" value="{{storage.0.price}}" class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" required>
                </label>
                <label for="id_type" class="block">
                    <span class="text-gray-700">Type:</span>
                    <select name="type" class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        <option value="1" {% if storage.0.type == 1 %}selected{% endif %}>Chair</option>
                        <option value="2" {% if storage.0.type == 2 %}selected{% endif %}>Table</option>
                        <option value="2" {% if storage.0.type == 3 %}selected{% endif %}>Tent</option>
                        <option value="2" {% if storage.0.type == 4 %}selected{% endif %}>Food</option>
                        <option value="2" {% if storage.0.type == 5 %}selected{% endif %}>Drink</option>
                    </select>
                </label>
                <label for="id_status" class="block">
                    <span class="text-gray-700">Status:</span>
                    <select name="status" class="mt-1 block w-full rounded-md shadow-sm border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        <option value="1" {% if storage.0.status == 1 %}selected{% endif %}>Active</option>
                        <option value="2" {% if storage.0.status == 2 %}selected{% endif %}>Not active</option>
                    </select>
                </label>
                <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600">Edit Storage Item</button>
            </form>
        </div>
    </div>
{% endblock %}
