{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bundle.css' %}">
     <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Load DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Include Bootstrap CSS here -->
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <nav class="bg-white py-4 text-black">
        <div class="container mx-auto flex justify-between items-center px-4">
            <div>
                <a href="#" class="text-xl font-semibold">Catering</a>
            </div>
            <div>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <a href="/orders" class="px-4">Orders</a>
                        <a href="/users" class="px-4">Users</a>
                        <a href="/storage" class="px-4">Storage</a>
                    {% endif %}
                    {% if not user.is_staff %}
                        <a href="/orders" class="px-4">My orders</a>
                    {% endif %}
                    <a href="/logout" class="px-4">Logout</a>
                {% else %}
                    <a href="/login" class="px-4">Login</a>
                    <a href="/register" class="px-4">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="flex-grow">
        <div class="flex justify-center mt-4">
            <div class="max-w-xl w-full bg-white p-5 rounded shadow">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>

    <footer class="bg-gray-200 py-4 text-center sticky bottom-0">
        <p>&copy; {{ current_year }} Catering. All rights reserved.</p>
    </footer>
</body>

</html>
