{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}
    <div class="w-xl">
    <div class="flex inline justify-between">
        <h2 class="text-2xl mb-4">Orders</h2>
        <a href="{% url 'add_orders' %}" class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 mb-4">Add Order</a>
    </div>
    {% if messages %}
        <div class="text-red-500 mb-4">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <table id="orders-table" class="stripe hover">
        <thead>
            <tr>
                <th>City</th>
                <th>Location</th>
                <th>Guest</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'order_detail' order.id %}">{{ order.city }}</a></td>
                    <td>{{ order.location }}</td>
                    <td>{{ order.guests }}</td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>
                        {% if user.is_staff %}
                            {% if order.status == 1 %}
                            <span class="flex inline mr-2">
                                <a href="{% url 'approve' order.id %}" class="bg-green-400 text-white mr-1 px-2 py-2 rounded-md hover:bg-indigo-600 mb-4">Approve</a>
                                <a href="{% url 'decline' order.id %}" class="bg-red-400 text-white px-2 py-2 rounded-md hover:bg-indigo-600 mb-4">Decline</a>
                            </span>
                            {% endif %}
                            {% if order.status == 2 %}
                            <span class="flex inline mr-2">
                                <a href="{% url 'complete' order.id %}" class="bg-green-400 text-white mr-1 px-2 py-2 rounded-md hover:bg-indigo-600 mb-4">Completed</a>
                            </span>
                            {% endif %}
                        {% endif %}
                        {% if not user.is_staff %}
                            {% if order.status == 1 %}
                            <span class="flex inline mr-2">
                                <a href="{% url 'whitdraw' order.id %}" class="bg-green-400 text-white mr-1 px-2 py-2 rounded-md hover:bg-indigo-600 mb-4">Whitdraw</a>
                            </span>
                            {% endif %}
                            {% if order.status == 5 %}
                            <span class="flex inline mr-2">
                                <a href="{% url 'pay' order.id %}" class="bg-green-400 text-white mr-1 px-2 py-2 rounded-md hover:bg-indigo-600 mb-4">Pay</a>
                            </span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <!-- Add more columns as needed -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <script>
        $(document).ready(function() {
            $('#orders-table').DataTable();
        });
    </script>
{% endblock %}



