{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}
    <div class="w-xl">
    <div class="flex inline justify-between">
        <h2 class="text-2xl mb-4">Pay Order</h2>
    </div>
    {% if messages %}
        <div class="text-red-500 mb-4">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="max-w-md bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Complete Your Payment</h2>
        <form action="{% url 'process_payment' orders.0.id %}" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="card_number" class="block text-gray-700 font-semibold mb-2">Card Number</label>
                <input type="text" id="card_number" name="card_number" class="w-full border p-2 rounded focus:outline-none focus:border-blue-500" placeholder="**** **** **** ****">
            </div>
            <div class="mb-4">
                <label for="expiry_date" class="block text-gray-700 font-semibold mb-2">Expiry Date</label>
                <input type="text" id="expiry_date" name="expiry_date" class="w-full border p-2 rounded focus:outline-none focus:border-blue-500" placeholder="MM / YY">
            </div>
            <div class="mb-4">
                <label for="cvv" class="block text-gray-700 font-semibold mb-2">CVV</label>
                <input type="text" id="cvv" name="cvv" class="w-full border p-2 rounded focus:outline-none focus:border-blue-500" placeholder="123">
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Pay Now</button>
        </form>
    </div>
{% endblock %}